body {
  color: $grey-color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  //&.modal-open {
  //overflow: hidden;
  //}
}

//.no-scroll {
// overflow: hidden;
//}
