.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #2c2c2c;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #2c2c2c;
}

//.section {
//padding-top: 60px;
//padding-bottom: 60px;

//@include mq(desk) {
//padding-top: 94px;
//padding-bottom: 94px;
//}
//}
