 <!--Customers Say !-->
 <section class="customers">
  <div class="container">
    <h2 class="section-title">What our Customers Say</h2>
    <p class="customers-text">Lorem ipsum, dolor sit amet consectetu adipisicing elit.</p>

    <ul class="list customers-list">
      <li class="customers-list__item">
        <img src="../images/icon/star.svg" alt="звездочки" />
        <p class="customers-text__item">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
        <div class="customers__card-icon">
         <svg class="customers-icon" width="48px" height="48px">
           <use href="./customer-say.html#image0_480_6562"></use>
          </svg>
          <p class="">Sumith Shah</p>
          <p class="">Some Dude</p>
        </div>
      </li>

      <li class="customers-list__item">
           <img src="../images/icon/star.svg" alt="звездочки" />
        <p class="customers-text__item">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
        <div class="customers__card-icon">
         <svg class="customers-icon" width="48px" height="48px">
           <use href="./customer-say.html#image0_480_6563"></use>
          </svg>
          <p class="">Sumith Shah</p>
          <p class="">Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
</section>

 <!--<section class="customers">
  <div class="container">
    <h2 class="section-title" >What our Customers Say</h2>
    <p class="customers-text">Lorem ipsum, dolor sit amet consectetu adipisicing elit.</p>
    <ul>
      <li>
        <img src="" alt="звездочки" />
        <p>Lorem ipsum, dolor sit amet consectetu adipisicing elit</p>
        <div class="container-card">
          <img src="./images/icon/ellipse-boy.svg" alt="лицо покупателя" />
          <p class="">Sumith Shah</p>
        </div>
      </li>
      <li>
        <img src="../images/icons.svg" alt="звездочки" />
        <p>Lorem ipsum, dolor sit amet consectetu adipisicing elit</p>
        <div class="container-card">
          <img src="./images/icon/ellipse-girl.svg" alt="лицо покупателя" />
          <p class="">имя покупателя</p>
        </div>
      </li>
    </ul>
  </div>
</section>-->