 <!--Customers Say !-->
 <section class="customers">
  <div class="container">
    <h2>What our Customers Say</h2>
    <p>Lorem ipsum, dolor sit amet consectetu adipisicing elit.</p>
    <ul>
      <li>
        <img src="" alt="звездочки" />
        <p>Lorem ipsum, dolor sit amet consectetu adipisicing elit</p>
        <div class="">
          <img src="" alt="лицо покупателя" />
          <p>имя покупателя</p>
        </div>
      </li>
      <li>
        <img src="" alt="звездочки" />
        <p>Lorem ipsum, dolor sit amet consectetu adipisicing elit</p>
        <div class="">
          <img src="" alt="лицо покупателя" />
          <p>имя покупателя</p>
        </div>
      </li>
    </ul>
  </div>
</section>