<section id="favorites" class="section favorites">
  <div class="container">
    <h2 class="title title-f">Some of Our Favorites</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="list food cards-set cards-set-f">
      <li class="list food__item card-item">
        <div class="circle">
          <picture class="dish">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/gamburger@1x_desk.webp 1x,
                ./images/favorites/gamburger@2x_desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/gamburger@1x_desk.png 1x,
                ./images/favorites/gamburger@2x_desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/gamburger@1x_tab.webp 1x,
                ./images/favorites/gamburger@2x_tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/gamburger@1x_tab.png 1x,
                ./images/favorites/gamburger@2x_tab.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/gamburger@1x_mob.webp 1x,
                ./images/favorites/gamburger@2x_mob.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/gamburger@1x_mob.png 1x,
                ./images/favorites/gamburger@2x_mob.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/favorites/gamburger@1x_desk.png"
              alt=" gamburger"
              width="315"
              height="315"
            />
          </picture>
        </div>
      </li>
      <li class="list food__item card-item">
        <div class="circle">
          <picture class="dish">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/Pasta@1x_desk.webp 1x,
                ./images/favorites/Pasta@2x_desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/Pasta@1x_desk.png 1x,
                ./images/favorites/Pasta@2x_desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/Pasta@1x_tab.webp 1x,
                ./images/favorites/Pasta@2x_tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/Pasta@1x_tab.png 1x,
                ./images/favorites/Pasta@2x_tab.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/Pasta@1x_mob.webp 1x,
                ./images/favorites/Pasta@2x_mob.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/Pasta@1x_mob.png 1x,
                ./images/favorites/Pasta@2x_mob.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/favorites/Pasta@1x_desk.png"
              alt=" Pasta"
              width="315"
              height="315"
            />
          </picture>
        </div>
      </li>
      <li class="list food__item card-item">
        <div class="circle">
          <picture class="dish">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/pizza@1x_desk.webp 1x,
                ./images/favorites/pizza@2x_desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/pizza@1x_desk.png 1x,
                ./images/favorites/pizza@2x_desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/pizza@1x_tab.webp 1x,
                ./images/favorites/pizza@2x_tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/pizza@1x_tab.png 1x,
                ./images/favorites/pizza@2x_tab.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/pizza@1x_mob.webp 1x,
                ./images/favorites/pizza@2x_mob.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/pizza@1x_mob.png 1x,
                ./images/favorites/pizza@2x_mob.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/favorites/pizza@1x_desk.png"
              alt=" pizza"
              width="315"
              height="315"
            />
          </picture>
        </div>
      </li>
      <li class="list food__item card-item">
        <div class="circle">
          <picture class="dish">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/chicken@1x_desk.webp 1x,
                ./images/favorites/chicken@2x_desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/chicken@1x_desk.png 1x,
                ./images/favorites/chicken@2x_desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/chicken@1x_tab.webp 1x,
                ./images/favorites/chicken@2x_tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/chicken@1x_tab.png 1x,
                ./images/favorites/chicken@2x_tab.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/favorites/chicken@1x_desk.png"
              alt=" chicken"
              width="315"
              height="315"
            />
          </picture>
        </div>
      </li>
      <li class="list food__item card-item">
        <div class="circle">
          <picture class="dish">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/salat@1x_desk.webp 1x,
                ./images/favorites/salat@2x_desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/salat@1x_desk.png 1x,
                ./images/favorites/salat@2x_desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/salat@1x_tab.webp 1x,
                ./images/favorites/salat@2x_tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/salat@1x_tab.png 1x,
                ./images/favorites/salat@2x_tab.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/favorites/salat@1x_desk.png"
              alt=" salat"
              width="315"
              height="315"
            />
          </picture>
        </div>
      </li>
      <li class="list food__item card-item">
        <div class="circle">
          <picture class="dish">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/borshch@1x_desk.webp 1x,
                ./images/favorites/borshch@2x_desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/borshch@1x_desk.png 1x,
                ./images/favorites/borshch@2x_desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/borshch@1x_tab.webp 1x,
                ./images/favorites/borshch@2x_tab.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/favorites/borshch@1x_tab.png 1x,
                ./images/favorites/borshch@2x_tab.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/favorites/borshch@1x_desk.png"
              alt=" borshch"
              width="315"
              height="315"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
