<section class="hero" id="order">
  <div class="container hero__container ">
    <div class="hero__content">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="order-button" data-modal-open>Order Now</button>
    </div>
    <div class="swiper-container">
      <div class="hero__swiper swiper">  
        <div class="hero__img swiper-wrapper">
          <div class="swiper__slide swiper-slide">
              <picture>
                <!--Desktop screen-->
                <source srcset="./images/hero/hero1-lg@1x.webp 1x, ./images/hero/hero1-lg@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>
                <source media="(min-width:1280px)" srcset="./images/hero/hero1-lg@1x.png 1x, ./images/hero/hero1-lg@2x.png 2x" type="image/png"/>
              
                <!--tablet screen-->
                <source media="(min-width:768px)" srcset="./images/hero/hero1-md@1x.webp 1x, ./images/hero/hero1-md@2x.webp 2x" type="image/webp"/>
                <source media="(min-width:768px)" srcset="./images/hero/hero1-md@1x.png 1x, ./images/hero/hero1-md@2x.png 2x" type="image/png"/>
              
                <img src="./images/hero/hero1-lg@1x.png" alt="Dish"/>
              </picture>
              
          </div>
          <div class="swiper__slide swiper-slide">
              <picture>
                <!--Desktop screen-->
                <source srcset="./images/hero/hero2-lg@1x.webp 1x, ./images/hero/hero2-lg@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>
                <source media="(min-width:1280px)" srcset="./images/hero/hero2-lg@1x.png 1x, ./images/hero/hero2-lg@2x.png 2x" type="image/png"/>
              
                <!--tablet screen-->
                <source media="(min-width:768px)" srcset="./images/hero/hero2-md@1x.webp 1x, ./images/hero/hero2-md@2x.webp 2x" type="image/webp"/>
                <source media="(min-width:768px)" srcset="./images/hero/hero2-md@1x.png 1x, ./images/hero/hero2-md@2x.png 2x" type="image/png"/>
              
                <img src="./images/hero/hero2-lg@1x.png" alt="Dish"/>
              </picture>
              
          </div>
          <div class="swiper__slide swiper-slide">
              <picture>
                <!--Desktop screen-->
                <source srcset="./images/hero/hero3-lg@1x.webp 1x, ./images/hero/hero3-lg@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>
                <source media="(min-width:1280px)" srcset="./images/hero/hero3-lg@1x.png 1x, ./images/hero/hero3-lg@2x.png 2x" type="image/png"/>
              
                <!--tablet screen-->
                <source media="(min-width:768px)" srcset="./images/hero/hero3-md@1x.webp 1x, ./images/hero/hero3-md@2x.webp 2x" type="image/webp"/>
                <source media="(min-width:768px)" srcset="./images/hero/hero3-md@1x.png 1x, ./images/hero/hero3-md@2x.png 2x" type="image/png"/>
              
                <img src="./images/hero/hero3-lg@1x.png" alt="Dish"/>
              </picture>
              
          </div>
        </div>
      </div>
      <div class="swiper__btn-prev swiper-button-prev">
            
        <svg class="swiper__icon" >
          <use href="./images/icons.svg#prev"></use>
        </svg>
        
      </div>
      <div class="swiper-button-next swiper__btn-next">
        
        <svg class="swiper__icon">
          <use href="./images/icons.svg#next" ></use>
        </svg>
      </div>
    </div>
  </div>
</section>



