<section class="offerings">
    <div class="container">
        <div class="offerings__container">
        <picture>
        <!-- Desktop -->
        <source media="(min-width:1200px)" srcset="./images/offerings/apple-img-3@1x_lg.webp 1x,
        ./images/offerings/apple-img-3@2x_lg.webp 2x" type="image/webp">
        <source media="(min-width:1200px)" srcset="./images/offerings/apple-img-3@1x_lg.png 1x,
        ./images/offerings/apple-img-3@2x_lg.png 2x" type="image/png">
        <!-- Tablet -->
        <source media="(min-width:768px)" srcset="./images/offerings/apple-img-2@1x_md.webp 1x,
        ./images/offerings/apple-img-2@2x_md.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./images/offerings/apple-img-2@1x_md.png 1x,
        ./images/offerings/apple-img-2@2x_md.png 2x" type="image/png">
        <!-- Mobile -->
        <source media="(max-width:767px)" srcset="./images/offerings/apple-img-1@1x_sm.webp 1x,
        ./images/offerings/apple-img-1@2x_sm.webp 2x" type="image/webp">
        <source media="(max-width:767px)" srcset="./images/offerings/apple-img-1@1x_sm.png 1x,
        ./images/offerings/apple-img-1@2x_sm.png 2x" type="image/jpeg">
        <img src="./images/offerings/apple-img-1@1x_sm.png" alt="apple" width="550" height="604" />       
        </picture>
        </div>
        <h2 class="title offerings__title">What’s Special About Our Offerings</h2>
        <p class="text offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="offerings__list  list">
            <li class="offerings__item">
<div class="offerings__thumb">
    <svg class="offerings__icon" width="48" height="48">
        <use href="./images/icons.svg#hend"></use>
    </svg>
    </div>
<h3>Fasest Delivery</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
</p>
</li>
<li class="offerings__item">
<div class="offerings__thumb">
    <svg class="offerings__icon" width="48" height="48">
        <use href="./images/icons.svg#rocket"></use>
    </svg>
    </div>
<h3>Easy To Order</h3>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Suspendisse varius enim in eros.</p>
</li>
</ul>
<button class="offerings__button" type="button">Order Now</button>
</div>
</section>



