<section class="offerings">
    <div>
        <picture>
            <source media="(min-width:1280px)" srcset="" type="">
            <source media="(min-width:1280px)" srcset="" type="">
            <!-- Tablet -->
            <source media="(min-width:768px)" srcset="" type="">
            <source media="(min-width:768px)" srcset="" type="">
            <!-- Mobile -->
            <source media="(max-width:767px)" srcset="" type="">
            <source media="(max-width:767px)" srcset="" type="">
            <img class="" src="" alt="" width="" height="" />
        </picture>
        <h2>What’s Special About Our Offerings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <div>
            <ul>
                <li>
                    <svg class="" width="" height="">
                        <use href=""></use>
                    </svg>
                    <h3 class="">Fasest Delivery</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                    </p>
                </li>
                <li>
                    <svg class="" width="" height="">
                        <use href=""></use>
                    </svg>
                    <h3 class="">Easy To Order</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                </li>
            </ul>
        </div>
        <button type="button" class="">Order Now</button>
    </div>
</section>