<section class="subscribe">
  <div class="subscribe__container container">
    <div class="subscribe__img">
      <img 
        srcset="
        ./images/subscribe/bananalg@1x.webp 546w,
        ./images/subscribe/bananalg@2x.webp 1092w,
        ./images/subscribe/bananamd@1x.webp 281w,
        ./images/subscribe/bananamd@2x.webp 562w,
        ./images/subscribe/bananasm@1x.webp 161w,
        ./images/subscribe/bananasm@2x.webp 322w
        "
        sizes="(min-width:1280px) 546px, (min-width:768px) 281px, 100vw"
        src="./images/subscribe/bananamd@1x.png" 
        width="546"
        height="266"
        alt="banana">
      
    </div>
    <div class="subscribe__content">
      <h2 class="title subscribe__title">
        Subscribe To Get Special Offers
      </h2>
      <p class="subscribe__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <div class="form__container">
        <form class="signup-form" name="signup_form" autocomplete="off">
          <div class="invalid-tab">
            <input
              class="signup-form__input"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
              minlength="6"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <p class="signup-form__input-invalid">
              <svg class="signup-form__input-icon">
                <use href="./images/icons.svg#errorsvg"></use></svg>Not a valid email address (example@email.com)</p>
          </div>
          <button type="submit" class="signup-form__button">Subscribe</button>
        </form>
        
      </div>
    </div>
  </div>
  </section>