<!--<section class="subscribe">
    <div class="subscribe__img">
      <img 
        srcset="
        ./images/subscribe/bananalg@1x.webp 546w,
        ./images/subscribe/bananalg@2x.webp 1092w,
        ./images/subscribe/bananamd@1x.webp 281w,
        ./images/subscribe/bananamd@2x.webp 562w,
        ./images/subscribe/bananasm@1x.webp 161w,
        ./images/subscribe/bananasm@2x.webp 322w
        "
        sizes="(min-width:1280px) 546px, (min-width:768px) 281px, 100vw"
        src="./images/subscribe/bananamd@1x.png" 
        width="546"
        height="266"
        alt="banana">
      
    </div>
    <div class="subscribe__content">
      <h2 class="title subscribe__title">
        Subscribe To Get Special Offers
      </h2>
      <p class="subscribe__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form action="submit" class="subscribe__form">
        <input type="email" placeholder="Enter your email" class="subscribe__input" />
        <button type="submit" class="subscribe__btn">Subscribe</button>
      </form>
    </div>
  </section>
-->