.customer {
  margin-right: auto;
  margin-left: auto;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 320px;
  height: 769px;
  background-image: url('../images/customer-say/customers@1x_mob.png');

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 769px;
    background-image: url('../images/customer-say/customers@1x_480_mob.png');
    padding-bottom: 120px;
  }

  @include mq(tab) {
    width: 768px;
    height: 554px;
    background-image: url('../images/customer-say/customers@1x_tab.png');
  }
  @include mq(desk) {
    width: 1280px;
    height: 647px;
    background-image: url('../images/customer-say/customers@1x_desk.png');
    padding-bottom: 200px;
  }
}

.customer__say {
  @include mq(tab) {
    display: flex;
    gap: 32px;
  }

  @include mq(desk) {
    gap: 139px;
  }
}

.customer__title {
  margin-bottom: 20px;
  text-align: initial;
}

.customer__text {
  margin-bottom: 32px;
  text-align: initial;
}

.customer__title,
.customer__text {
  @media screen and (min-width: 400px) and (max-width: 767px) {
    text-align: center;
  }
}

.customer__boxes {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding: 8px;
  margin-bottom: 24px;
  border-radius: 0px 30px 30px 30px;
  background: #ffffff;

  @include mq(tab) {
    margin-bottom: 0;
    width: 336px;
    padding: 12px;
  }
  @include mq(desk) {
    gap: 139px;
    width: 501px;
    padding: 14px;
  }
}

.customer__review-icon {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}

.customer__review-comment {
  font-size: 16px;
  line-height: 1.18;
  text-align: initial;

  margin-bottom: 40px;
  @include mq(tab) {
    font-size: 18px;
    line-height: 1.16;
  }
}

.customer__review-person {
  display: flex;
  gap: 16px;
  align-items: center;
}

.customer__review-style {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-right: 14px;
  border-right: 0.854167px solid #7eb101;
}
.customer__review-style:last-child {
  padding-right: 13px;
}

.customer__name {
  line-height: 1.5;
  text-align: initial;
  margin-bottom: initial;
}

.customer__sumith {
  font-weight: 500;
}
