.customer-pad {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
  
    @media screen and (min-width: 320px) {
      background-image: url(../images/customer-say/customers@1x_lg_mob.png);
  }
  

  }
