.cards-set-f {
  justify-content: center;
}
.title-f {
  text-align: center;
  margin-bottom: 20px;

  @include mq(tab) {
    font-size: 42px;
    line-height: 1.17;
  }
}

.text-f {
  text-align: center;
  margin-bottom: 60px;

  @include mq(tab) {
    font-size: 16px;
    line-height: 1.18;
  }
}

.food__item:nth-child(n + 4) {
  @include mq(mob-only) {
    display: none;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 282px;

  border: 11px solid #ffe550;
  border-radius: 139.658px;

  @include mq(tab) {
    width: 336px;
    height: 338px;

    border: 14px solid #ffe550;
    border-radius: 167.166px;
  }
  @include mq(desk) {
    width: 394px;
    height: 397px;

    border: 16px solid #ffe550;
    border-radius: 197.5px;
  }
}

.circle:hover,
.circle:focus {
  border-color: #bbf330;
}

.dish {
  width: 223.29px;
  height: 223.49px;

  @include mq(tab) {
    width: 267.95px;
    height: 268.19px;
  }

  @include mq(desk) {
    width: 315px;
    height: 315px;
  }
}
