.footer {
    position: relative;
    padding: 60px 0;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../images/footer/footer-fruit@1x_mob.png);

    @include mq(retina) {
        background-image: url(../images/footer/footer-fruit@2x_mob.png);
    }

    @include mq(tab) {
        background-image: url(../images/footer/footer-fruit@1x_tab.png);

        @include mq(retina) {
            background-image: url(../images/footer/footer-fruit@2x_tab.png);
        }
    }

    @include mq(desk) {
        background-image: url(../images/footer/footer-fruit@1x_desk.png);

        @include mq(retina) {
            background-image: url(../images/footer/footer-fruit@2x_desk.png);
        }
    }
}

.logo {
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 0;

    @include mq(tab) {
    top: 100px;
    left: 33px;
    }
    @include mq(desk) {
    left: 16px;
    }
}
.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4px;
    padding-left: 150px;
}
.footer__menu-item:not(:last-child) {
    margin-bottom: 20px;
}
.footer__menu-item:last-child {
    margin-bottom: 40px;
}

.footer .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: start;

    margin-bottom: 12px;
}

.footer__agreement,
.footer__privacy-item,
.footer__licence {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #2C2C2C;
}

.footer__agreement-link,
.footer__privacy-link {
color: #7EB101;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer__list:not(:last-child) {
   margin-bottom: 60px; 
}

.footer__privacy {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}
.footer__licence {
    text-align: center;
}

