.hero {

}
.hero__container {
  padding-top: 60px;
  padding-bottom: 50px;

  @include mq(tab) {
    padding-bottom: 74px;  
    position: relative;
  
  }
  @include mq(desk) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
  }
}
.hero__content {
  width: 100%;
  @include mq(tab) {
    max-width: 537px;
  }
  @include mq(desk) {
    margin-top: 146px;
  }
}

.hero__title {
  margin-bottom: 28px;
  width: 100%;

  @include mq(tab) {
    text-align: left;
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 1.2;
  }
  @include mq(desk) {
    font-size: 48px;
    margin-bottom: 28px;
    width: 502px;
  }
}

.hero__text {
  margin-bottom: 28px;
  width: 100%;

  @include mq(tab) {
    text-align: left;
    margin-bottom: 40px;
    font-size: 16px;
    width: 336px;
  }
  @include mq(desk) {
    width: 502px;
  }
}
