.offerings {
    
    &__container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 43px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        background-image: url(../images/offerings/rectangle-img-1@1x_sm.png);
        
        @include mq(retina){
            background-image: url(../images/offerings/rectangle-img-1@2x_sm.png);
        }
        
        @include mq(tab){
                
        background-image: url(../images/offerings/rectangle-img-2@1x_md.png);
            
        @include mq(retina) {
        background-image: url(../images/offerings/rectangle-img-2@2x_md.png);
                }
        }

        @include mq(desk)  {             
        background-image: url(../images/offerings/rectangle-img-3@1x_lg.png);
                
        @include mq(retina) {
        background-image: url(../images/offerings/rectangle-img-3@2x_lg.png);
        }
        }

    }

    &__title {
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 97px;
        

        @include mq(mob) {
            font-weight: 700;
            font-size: 28px;
            line-height: calc(33/28);
        }

        @include mq(tab) {
            font-weight: 700;
            font-size: 42px;
            line-height: calc(49/42);
        }

        @include mq(desk) {
            font-weight: 700;
            font-size: 42px;
            line-height: 1.2;
        }
    }

    &__text {
    
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @include mq(mob) {
            font-weight: 400;
            font-size: 14px;
            line-height: calc(16/14);
        }

    }

    &__icon {
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
    }

    &__button {
        min-width: 106px;

        cursor: pointer;
        font-family: inherit;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        background: #FFFFFF;
        border: 2px solid #7EB101;
        border-radius: 30px;
    }
}