.offerings {
    margin: 0 auto;
    margin-top: 420px;
    padding-top: 41px;
    padding-bottom: 60px;
    background-image: url(../images/offerings/fon-mob@1x_sm.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include mq(retina) {
        background-image: url(../images/offerings/fon-mob@2x_sm.png);
    }

    @include mq(tab) {
        max-width: 768px;
        margin-top: 450px;
        padding: 0 0 100px 0;
        background-image: url(../images/offerings/fon-tab@1x_md.png);
        background-repeat: no-repeat;

        @include mq(retina) {
            background-image: url(../images/offerings/fon-tab@2x_md.png);
        }
    }

    @include mq(desk) {
        max-width: 1280px;
        margin-top: 500px;
        padding: 171px 0 75px 0;
        background-image: url(../images/offerings/fon-desk@1x_lg.png);
        background-repeat: no-repeat;

        @include mq(retina) {
            background-image: url(../images/offerings/fon-desk@2x_lg.png);
        }
    }
}

.offerings__main-container {
    @include mq(tab-only) {
        padding-top: 115px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include mq(desk) {
        display: flex;
        flex-direction: row;
    }
}

.offerings__img-container {
    @include mq(tab) {
        display: flex;
        align-items: baseline;
    }

    @include mq(desk) {
        display: flex;
        align-items: baseline;
    }

}

.offerings__img-container--bottom {
    margin-bottom: 60px;

    @include mq (desk) {
        margin-bottom: 0;
    }
}

.offerings__img {
    margin: 0 auto;

    &--middle {
        margin-left: 29px;
        margin-right: 44px;
        margin-bottom: 67px;
    }

    &--small {
        margin-bottom: 68px;
    }

    &--middle,
    &--small {
        @include mq(desk) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

        @include mq(mob-only) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    }
}

.offerings__main {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include mq(tab) {
        gap: 0;
    }

    @include mq(desk) {
        max-width: 573px;
        gap: 0;
        margin-left: 90px;
        justify-content: center;
    }
}

.offerings__title {
    font-size: 28px;
    line-height: 1.2;

    @include mq(tab) {
        margin-bottom: 20px;
        font-size: 42px;
    }
}

.offerings__text {
    font-size: 14px;
    line-height: calc(16 / 14);

    @include mq(tab) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.offerings__bottom-part {
    display: flex;
    gap: 24px;

    @include mq(tab) {
        margin-top: 40px;
    }

   @include mq(desk) {
        margin-top: 32px;
    }
}


.offerings__input {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.offerings__text-opacity {
    display: none;
}

.offerings__btn {
    min-width: 106px;
    padding: 8px 20px;
    color: #000000;
    background-color: #fefefe;
    border: 2px solid #7eb101;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
        border-color: #597d00;;
    }
}
.btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #000000;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.offerings__button-check {
    display: none;
    font-size: 14px;
    line-height: calc(20 / 14);
    color: #000000;
}

.offerings__button-uncheck {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    line-height: calc(20 / 14);
    color: #000000;

}

.offerings__link-svg {
    width: 14px;
    height: 14px;
    fill: currentColor;
}

.offerings__input:checked~.offerings__text-opacity {
    display: block;
}

.offerings__input:checked~.offerings__button .offerings__button-uncheck {
    display: none;
}

.offerings__input:checked~.offerings__button .offerings__button-check {
    display: flex;
}
