.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 60px;
  @include mq(tab) {

    padding-bottom: 100px;
  }
  @include mq(desk) {
    padding-left: 16px;
    flex-direction: row-reverse;
  }
}
.subscribe__img {
  max-width: 161px;
  align-self: center;
  margin-bottom: 17px;

  @include mq(tab) {
    max-width: 281px;
    margin-left: auto;
  }
  @include mq(desk) {
    max-width: 546px;
  }
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  @include mq(tab) {
    max-width: 656px;  
;}

}
.subscribe__title {
  margin-bottom: 20px;
  @include mq(tab) {
    font-size: 42px;
    line-height: 1.2;
    text-align: left
  }

}

.subscribe__text {
  margin-bottom: 40px;
  @include mq(tab) {
    font-size: 16px;
    line-height: 1.5;
    text-align: left
  }

}